<div class="auth-container">
  <div class="row auth-main">
    <!-- Image à gauche -->
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/img2.jpg);"></div>
    </div>

    <!-- Formulaire à droite -->
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h5 class="welcome-msg">Réinitialisation du mot de passe</h5>
          <p class="auth-signup-text text-muted">Veuillez entrer votre adresse email pour recevoir un lien de réinitialisation.</p>

          <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Entrez votre email" />
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="f['email']?.invalid && f['email']?.touched">
                Veuillez entrer une adresse email valide.
              </mat-error>
            </mat-form-field>

            <div class="container-auth-form-btn mt-4 d-flex flex-column gap-2">
              <button mat-flat-button color="primary" type="submit" [disabled]="authForm.invalid || loading">
                <span *ngIf="!loading">Réinitialiser</span>
                <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
