<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Calendar'" [items]="[]" [active_item]="'Calendar'"></app-breadcrumb>
    </div>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-md-2 col-sm-12 p-l-30">
            <div class="m-b-25">
             
            </div>
            
            <div class="filter-container">
              <ul>
             
              </ul>
            </div>
          </div>
          <div class="col-md-10 col-sm-12">
            <div class="panel-body">
              <full-calendar [options]='calendarOptions'>
              </full-calendar>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>